<div class="header-row">
    <div class="container">
      <div class="row">
        <div class="header-row-text">
          <img src="../assets/images/Shutter-Aperture.png" title="Tyler\'s Angular Antics logo - camera aperture" height=85/>
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/docs">Docs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/recipes']">Recipes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['shopping']">Shopping List</a>
          </li>
        </ul>
      </div>
  </div>
</nav>