<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header-row">
      <div class="container">
        <div class="row">
          <div class="header-row-text">
            <img src="../assets/images/Shutter-Aperture.png" title="Tyler\'s Angular Antics logo - camera aperture" height=85/>
            <h1>{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <success-alert-comp></success-alert-comp>
      <br>
      <databind-comp></databind-comp>
      <br>
      <directives-comp></directives-comp>
      <br>
      <string-inter-comp></string-inter-comp>
      <br>
      <bind-comp></bind-comp>
      <br>
      <directive-comp></directive-comp>
      <br>
      
    </div>
  </body
></html>