<html>
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    <app-header></app-header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body
></html>