<div class="detail-container">
    <h1>{{recipe.name}}</h1>
    <img [src]="recipe.imagePath" alt="{{recipe.description}}" style="max-height: 300px;">
    <div class="row" style="padding: 1rem 0 0 1rem">
        <div class="dropdown" appDropdown #r="appDropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
            </button>
            <div class="dropdown-menu" [ngClass]="{'show': r.isOpen}">
                <a class="dropdown-item" (click)="addIngredToShopList()" style="cursor: pointer">Add Ingredient to Shopping List</a>
                <a class="dropdown-item" href="#" style="cursor: pointer">Edit Recipe</a>
                <a class="dropdown-item" href="#" style="cursor: pointer">Delete Recipe</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1rem 0 0 1rem">
        <div>
            {{recipe.description}}
        </div>
    </div>
    <div class="row" style="padding: 1rem 0 0 1rem">
        <div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.amount }} - {{ ingredient.name }}
                </li>
            </ul>
        </div>
    </div>
</div>
