<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Recipes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipe of recipes">
                <td><img [src]="recipe.imagePath" [alt]="recipe.name" height=100></td>
                <th>{{recipe.name}}<br><small class="text-desc">{{recipe.description}}</small></th>
              </tr>
            </tbody>
          </table>
        <app-recipe-item></app-recipe-item>
    </div>
</div>